rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
    		return exists(/databases/$(database)/documents/admin/$(request.auth.uid));
    }
    match /{document=**} {
      allow read:  if request.auth != null;      
    }
    match /case/{document=**} {

      allow read :  if request.auth != null;
      allow write,create,update,delete: if request.auth != null;

      // match /message/{messageId} {
      //   allow read :  if request.auth != null;
      //   allow write,create,update,delete: if request.auth != null;
      // }

      // match /search/{searchId} {
      //   allow read :  if request.auth != null;
      //   allow write,create,update,delete: if request.auth != null;
      // }

    }
    match /index/{indexId} {
      allow read: if request.auth != null;
      allow write,create,update,delete: if false;
    }
    match /list/{listId} {
    	allow read: if request.auth != null;
      allow update: if isAdmin();

      match /{document=**} {
        allow read : if request.auth != null;
        allow write: if false;
      }

      match /item/{itemId} {
        allow read : if request.auth != null;
        allow write: if false;
      }

      match /fields/{fieldId} {
        allow read : if request.auth != null;
        allow write: if false;
      }

      match /indexConfigs/{configId} {
        allow read :  if request.auth != null;
        allow write,create,update,delete: if isAdmin();

        match /entityIndexFields/{eiId} {
          allow read :  if request.auth != null;
          allow write,create,update,delete: if isAdmin();
        }
      } 
    }    
    match /user/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }
    match /sandbox/{document=**} {
      allow read, write: if true
    }
  }
}   